.cp-container {
  display: inline-block;
  padding: 5px;
  border: 1px solid #000;
}
.cp-col {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 1px solid #000;
}
.cp-sat,
.cp-val {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #fff, rgba(204,154,129,0));
}
.cp-val {
  background-image: linear-gradient(to top, #000, rgba(204,154,129,0));
}
.cp-hue {
  display: inline-block;
  width: 15px;
  height: 150px;
  margin-left: 5px;
  border: 1px solid #000;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACWCAIAAACQFHUlAAAAfUlEQVQoU3WLyQpCMRAES2yULP7/j2Z5IKgHE5gMyaGpVHdGXxBhJCHioPVoPCCyc8/Nft1RB1VWNpPTvuv9XgYhCLIgjUTznp4dZ/9y7v69H6IiOqKZdP699cnivBpe+/35QQGUWBlNZm/d9qf7AMqDN5qgiIXV5LTv+oU/dw1PXbWgu7UAAAAASUVORK5CYII=");
}
.cp-alpha {
  height: 10px;
  border: 1px solid #000;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQYV2NkYGDwYcAEW9CFGIeIQix+wfQgyDODXSEAq2cGh0FBvIcAAAAASUVORK5CYII=");
}
.cp-alpha-inner {
  height: 10px;
}
